<style type="text/css">
body{
    color: #000;
}
a{
    color: #000;
}
#wrapper{
    margin-bottom: 0;
}
.container{
    padding: 0 30px;
    width:auto;
}
.site-title-wrapper{
    margin: 0;
}
.site-title{
    text-align: left;
    text-transform: none;
}
.site-title a {    
 background: #000000;
}
.site-nav{
    text-align: left;
}
.site-nav li:first-child{
    margin-left:0;
}
.site-nav-item{
    display: inline-block;
    margin: 0 10px;
    text-transform: lowercase;
}
.site-nav-item a:hover{
    color: #09076c;
}
.post-container{margin:0;}
.post-header{
    border-bottom: 2px dashed #999999;
}
.post-title, 
.page-title,
.post-header{
    text-transform: none;
    font-weight: normal;
    text-align: left;
}
.post-stub{
    border-bottom: 1px dashed #999999;
}
.post-date a:hover, 
.post-reading a:hover, 
.blog-description a:hover,
.post-stub a:hover{
    color: #09076c;
}
.post-line:after{
    display: none;
}
.button-square{
    background: #000000;
}
.button-square:hover{
    background: #09076c;
}
.share a{
    background: #000000;
}

.footer{
    background: #000000;
    padding: 15px 0;
    height: auto;
}

</style>